* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bg-color:  #e9967abd;
    --bg-color-card: #f9fad2;
}

html{
    width: 100%;
    height: 100%;
}

form {
    width: 50%;
}

main div{
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}

.disabled {
    pointer-events: none;
    background-color: #f0f0f0;
}
.disabled:valid{
    background-color: #fff;
}

label{
    transition: 200ms;
    position: absolute;
    left: 25px;
    top: 20%;
    color: #707070;
    pointer-events: none;
}
input:focus+label,
input:valid+label {
    top:-14px;
    left: 20px;
    color: #505050;
    background-color: #fff;
}

body { 
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color)
}

main{
    padding-top: 30px;
    height: 100%;   
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 80%;
    align-items: center;
    
}

.titulo{
    justify-content: center;
    display: flex;
    text-align: center;
    margin: 230px;
}
.subtitulo{
    justify-content: center;
    display: flex;
    text-align: center;
    

}

 #principal{
    text-align: center;
    font-size: 50px;
 }

 .logotipo {
    
    width: 50px;
    height: 50px;
}

.card{
    background-color: var(--bg-color-card);
}
footer{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    bottom: 0px;
    width: 100%;
    height: 30px;
    padding-bottom: 50px;
}