

:root {
    --bg-color:  #e9967a;
    --bg-color-divs: #f9fad2;
}


body{
    background-color: var(--bg-color);
}

aside {
    display: flex;
    justify-content:space-around ;
}

.lasanha{
    background-color: var(--bg-color-divs);
}

.strogonoff{
    background-color: var(--bg-color-divs);
}
.bolo{
    background-color: var(--bg-color-divs);
}

